.UP {
  background: black;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.Header {
  background: #43464B;
  width: auto;
  height: 75px;
  display: flex;
  justify-content: center;
}
.Kontakti {
  color: aliceblue;
  padding-left: 50px;
  padding-top: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Nazvanie {
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Atom {
  color: green;
  padding-right: 50px;
  padding-top: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Atom2 {
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Fon {
  background: #A9A9A9;
  width: auto;
  height: 550px;
}
.Promejutok {
  background: gray;
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.Fon2 {
  background: #A9A9A9;
  width: auto;
  height: 200px;
}
.Promejutok2 {
  background: gray;
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.Fon3 {
  background: #A9A9A9;
  width: auto;
  height: 200px;
}
.Promejutok3 {
  background: gray;
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.Outro {
  background: black;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  }
.Kodi {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
}
.Kod {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
}
.Image1 {
  width: 500px;
  height: 250px;
  padding-right: 50px;
  padding-top: 25px;
}
.TxtImage1 {
  color: aliceblue;
  padding-left: 50px;
  padding-top: 50px;
}
.TxtImage1, .TxtImage2, .TxtImage3 {
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Robot {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
}
.RoboTxt {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: aliceblue;
  padding-left: 20px;
}
.Image2 {
    width: 450px;
    height: 250px;
    padding-left: 50px;
    padding-top: 25px;
}
.Txt2Image1 {
    color: aliceblue;
    padding-right: 200px;
    padding-top: 50px;
}
.Txt2Image1, .Txt2Image2, .Txt2Image3, .Txt2Image4, .Txt2Image5, .Txt2Image5, .Txt2Image6 {
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Secret {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
}
.SecretTxt {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: aliceblue;
  padding-left: 20px;
}
.Txt3Image1 {
    color: aliceblue;
    padding-left: 50px;
    padding-top: 50px;
}
.Txt3Image1, .Txt3Image2, .Txt3Image3 {
  color: aliceblue;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Image3 {
  width: 400px;
  height: 250px;
  padding-right: 50px;
  padding-top: 25px;
}
.F1 {
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.Student {
  color: aliceblue;
  padding-right: 50px;
  padding-top: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
