div.UP {
  background: black;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
div.Header {
  background: #1d1f2a;
  width: auto;
  height: 75px;
  display: flex;
  justify-content: space-between;
}
div.Kontakti {
  color: aliceblue;
  padding-left: 50px;
  padding-top: 15px;
  font-family: "Oswald";
  font-weight: bold;
}
p.settings {
  color: aliceblue;
  font-family: "Oswald";
  font-weight: bold;
  padding-left: 50px;
  padding-top: 10px;
}
h1.Nazvanie {
  color: aliceblue;
  font-family: "Oswald";
  font-weight: bold;
  padding-left: 50px;
}
a.ChillyRoom {
  color: aliceblue;
  font-family: "Oswald";
  font-weight: bold;
  padding-right: 50px;
  padding-top: 30px;
}
a.Atom {
  color: #99ff99;
  padding-right: 50px;
  padding-top: 15px;
  font-family: "Oswald";
  font-weight: bold;
}
a.Atom2 {
  color: aliceblue;
  font-family: "Oswald";
  font-weight: bold;
}
div.Fon {
  background: #373737;
  width: auto;
  height: 550px;
}
div.Promejutok {
  background: #232323;
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
div.Fon2 {
  background: #373737;
  width: auto;
  height: 200px;
}
div.Promejutok2 {
  background: #232323;
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
div.Fon3 {
  background: #373737;
  width: auto;
  height: 200px;
}
div.Promejutok3 {
  background: #232323;
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
div.Outro {
  background: black;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  }
h2.Kodi {
  margin: 0 auto;
  font-family: "Oswald";
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
}
li.Kod {
  font-family: "Oswald";
  font-weight: bold;
  color: aliceblue;
  text-align: center;
}
img.Image1 {
  width: 500px;
  height: 250px;
  padding-right: 50px;
  padding-top: 25px;
}
div.TxtImage1 {
  color: aliceblue;
  padding-left: 50px;
  padding-top: 50px;
}
.TxtImage1, .TxtImage2, .TxtImage3 {
  color: aliceblue;
  font-family: "Oswald";
  font-weight: bold;
}
h2.Robot {
  margin: 0 auto;
  font-family: "Oswald";
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
}
p.RoboTxt {
  font-family: "Oswald";
  font-weight: bold;
  color: aliceblue;
  padding-left: 20px;
}
img.Image2 {
    width: 450px;
    height: 250px;
    padding-left: 50px;
    padding-top: 25px;
}
div.Txt2Image1 {
    color: aliceblue;
    padding-right: 200px;
    padding-top: 50px;
}
.Txt2Image1, .Txt2Image2, .Txt2Image3, .Txt2Image4, .Txt2Image5, .Txt2Image5, .Txt2Image6 {
  color: aliceblue;
  font-family: "Oswald";
  font-weight: bold;
}
h3.Secret {
  margin: 0 auto;
  font-family: "Oswald";
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  padding-top: 50px;
}
p.SecretTxt {
  font-family: "Oswald";
  font-weight: bold;
  color: aliceblue;
  padding-left: 20px;
}
div.Txt3Image1 {
    color: aliceblue;
    padding-left: 50px;
    padding-top: 50px;
}
.Txt3Image1, .Txt3Image2, .Txt3Image3 {
  color: aliceblue;
  font-family: "Oswald";
  font-weight: bold;
}
img.Image3 {
  width: 500px;
  height: 250px;
  padding-right: 50px;
  padding-top: 25px;
}
div.F1 {
  color: aliceblue;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 15px;
  font-family: "Oswald";
  font-weight: bold;
}
div.Student {
  color: aliceblue;
  padding-right: 50px;
  padding-top: 15px;
  font-family: "Oswald";
  font-weight: bold;
}
